.modal-header
  %h4.modal-title
    {{account.id ? 'Редактирование' : 'Подключение биржи'}}
.modal-body.account-modal
  %ul
    %li{"ng-repeat"=>"(key, value) in errors", "style"=>"color: red;"}
      {{key}} - {{value[0]}}
  .row{"ng-class"=>"{'disabled': account.id}"}
    .col-xs
      .form-group
        %label биржа
        %select.form-control{"ng-model"=>"account.provider"}
          %option{"ng-value"=>"'bittrex'"} Bittrex
          %option{"ng-value"=>"'poloniex'"} Poloniex
    .col-xs
      .form-group
        %label key
        %input.form-control{"ng-model"=>"account.key"}
    .col-xs
      .form-group
        %label secret
        %input.form-control{"ng-model"=>"account.secret"}


.modal-footer
  %button.btn.btn-primary{"ng-if"=>"!account.id", "ng-click"=>"createAccount()"} Подключить
  %button.btn.btn-secondary{"ng-click"=>"closeModal()"} Закрыть
