.template-modal
  .modal-header
    %h4
      Опции для валюты
      %b
        {{template.currency}}
  .modal-body
    .config
      %h5
        %b
          основное
      .row
        .col-xs
          .form-group
            %label валюта
            %input.form-control{"ng-model"=>"template.currency"}
        .col-xs
          .form-group
            %label стратегия
            %select.form-control{"ng-model"=>"template.strategy"}
              %option{"value"=>""} -- выбор стратегии --
              %option{"value"=>"default"} обычная
              %option{"value"=>"sell"} только продавать
              %option{"value"=>"quick_sell"} быстрая продажа
              %option{"value"=>"rank_volume"} сортировка по рангу
              %option{"value"=>"trend_trade"} торговля от тренда 

        .col-xs
          .form-group
            %label интервал
            %input.form-control{"ng-model"=>"template.interval"}

      %h5
        %b
          условия продажи
      .row
        .col-xs
          .form-group
            %label минимальный процент перед продажей (%)
            %input.form-control{"ng-model"=>"template.min_sell_percent_diff"}
        .col-xs
          .form-group
            %label если актив упал на столько (%)
            %input.form-control{"ng-model"=>"template.min_sell_percent_stop"}
      %h5
        %b
          условия покупки
      .row
        .col-xs-4
          .form-group
            %label минимальный спред (сатоши)
            %input.form-control{"ng-model"=>"template.min_buy_sth_diff"}
        .col-xs-4
          .form-group
            %label минимальный спред (%)
            %input.form-control{"ng-model"=>"template.min_buy_percent_diff"}
        .col-xs-4
          .form-group
            %label максимальный спред (%)
            %input.form-control{"ng-model"=>"template.max_buy_percent_diff"}            
        .col-xs-6
          .form-group
            %label минимальная цена покупки ({{template.currency}})
            %input.form-control{"ng-model"=>"template.min_buy_price"}
        .col-xs-6
          .form-group
            %label процент, предотвращающий памп при покупке (%)
            %input.form-control{"ng-model"=>"template.min_pump_risk_percent"}
      %h5
        %b
          списки
      .row
        .col-xs-6
          .form-group
            %label
              %b
                вайт лист
            %ui-select{:multiple => "multiple", "ng-model" => "template.white_list", "tagging-label"=>"(coin name)", :tagging => "", :theme => "bootstrap", :title => "Choose a coin"}
              %ui-select-match{:placeholder => "select coin"} {{$item}}
              %ui-select-choices{:repeat => "coin in template.coins | filter:$select.search"}
                {{coin}}
        .col-xs-6
          .form-group
            %label
              %b блэк лист
            %ui-select{:multiple => "multiple", "ng-model" => "template.black_list", :tagging => "", "tagging-label"=>"(coin name)", :theme => "bootstrap", :title => "Choose a coin"}
              %ui-select-match{:placeholder => "select coin"} {{$item}}
              %ui-select-choices{:repeat => "coin in template.coins | filter:$select.search"}
                {{coin}}
      %h5
        %b
          остальное
      .row
        .col-xs
          .form-group
            %label минимальный объем рынка актива ({{template.currency}})
            %input.form-control{"ng-model"=>"template.min_market_volume"}

        .col-xs
          .form-group
            %label вайт лист коэффициент
            %input.form-control{"ng-model"=>"template.white_list_coef"}
  .modal-footer
    .row
      .col-xs{"ng-if"=>"template.id && template.need_restart"}
        %button.btn.btn-info{ "ng-click"=>"restart()"}
          Рестарт
      .col-xs{"ng-if"=>"template.id"}
        %button.btn.btn-success{ "ng-click"=>"updateTemplate()"}
          Обновить
      .col-xs{"ng-if"=>"!template.id"}
        %button.btn.btn-success{ "ng-click"=>"createTemplate()"}
          Сохранить
      .col-xs{"ng-if"=>"template.id && !template.need_restart"}
        %button.btn.btn-default{ "ng-click"=>"off()"}
          Выключить
      .col-xs
        %button.btn.btn-default{ "ng-click"=>"closeModal()"}
          Отмена
      .col-xs{"ng-if"=>"template.id"}
        %button.btn.btn-danger{ "ng-click"=>"deleteTemplate()"}
          Удалить
