.template-modal
  .modal-header
    %h4
      Конфиг
      %b
        {{template.currency}}
      %span.history
        %a{"href"=>"/templates/{{template.id}}"}
          (подробнее)

  .modal-body
    .config
      %h5
        %b
          основное
      .row
        .col-xs
          .form-group
            %label валюта
            %input.form-control{"ng-model"=>"template.currency"}
        .col-xs
          .form-group
            %label стратегия
            %select.form-control{"ng-model"=>"template.strategy"}
              %option{"value"=>""} -- выбор стратегии --
              %option{"value"=>"default"} обычная
              %option{"value"=>"only_sell"} продать все
              %option{"value"=>"lines"} lines

        .col-xs
          .form-group
            %label интервал
            %input.form-control{"ng-model"=>"template.interval"}

      %h5
        %b
          условия продажи
      .row
        .col-xs-4
          .form-group
            %label минимальный процент для продажей (%)
            %input.form-control{"ng-model"=>"template.min_sell_percent_diff"}
        .col-xs-4
          .form-group
            %label стоп-лосс для продажи (%)
            %input.form-control{"ng-model"=>"template.min_sell_percent_stop"}
      %h5
        %b
          условия покупки
      .row
        .col-xs-4
          .form-group
            %label минимальный спред (%)
            %input.form-control{"ng-model"=>"template.min_buy_percent_diff"}
        .col-xs-4
          .form-group
            %label максимальный спред (%)
            %input.form-control{"ng-model"=>"template.max_buy_percent_diff"}
        .col-xs-4
          .form-group
            %label минимальная цена покупки ({{template.currency}})
            %input.form-control{"ng-model"=>"template.min_buy_price"}

      %h5
        %b
          остальное
      .row
        .col-xs
          .form-group
            %label минимальный объем рынка актива ({{template.currency}})
            %input.form-control{"ng-model"=>"template.min_market_volume"}
  .modal-footer
    .row
      .col-xs{"ng-if"=>"template.id && template.need_restart"}
        %button.btn.btn-info{ "ng-click"=>"restart()"}
          Рестарт
      .col-xs{"ng-if"=>"template.id"}
        %button.btn.btn-success{ "ng-click"=>"updateTemplate()"}
          Обновить
      .col-xs{"ng-if"=>"!template.id"}
        %button.btn.btn-success{ "ng-click"=>"createTemplate()"}
          Сохранить
      .col-xs{"ng-if"=>"template.id && !template.need_restart"}
        %button.btn.btn-default{ "ng-click"=>"off()"}
          Выключить
      .col-xs
        %button.btn.btn-default{ "ng-click"=>"closeModal()"}
          Отмена
      .col-xs{"ng-if"=>"template.id"}
        %button.btn.btn-danger{ "ng-click"=>"deleteTemplate()"}
          Удалить
