.container-fluid{"ng-controller"=>"DashboardCtrl"}
  .app-container
    .row
      %h2
        Подключенные биржи
        %a{"ng-click"=>"addNewAccount()"}
          %i.fa.fa-plus-circle{"aria-hidden" => "true"}
    .accounts-items.row
      .accounts-item.col-xs{"ng-repeat"=>"account in accounts"}
        .accounts-item-card
          .header
            %a{"href"=>"{{'/accounts/' + account.id }}"}
              {{ account.provider }}
          .templates.row
            %button.templates-item.btn.btn-info.col-xs-12{"ng-repeat"=>"template in account.templates"}
              %a{"href"=>"/templates/{{template.id}}"}
                {{template.currency}}
              %span.inline
                %i.fa.fa-pencil{"aria-hidden" => "true", "ng-click"=>"editTemplate(template)"}
              %span.inline{"ng-class"=>"template.need_restart ? 'text-danger' : 'text-success'"}
                {{template.need_restart ? 'off' : 'on'}}
            %button.templates-item.btn.btn-success.col-xs-12{ "ng-click"=>"addNewTemplate(account)"}
              new currency config
              %i.fa.fa-plus-circle{"aria-hidden" => "true"}
          .actions
            %span
              %a{"ng-click" => "editAccount(account)"}
                %i.fa.fa-pencil{"aria-hidden" => "true"}
            %span
              %a{"ng-click" => "deleteAccount($index, account.id)", style: "color: red;"}
                %i.fa.fa-times{"aria-hidden" => "true"}
