%header
  .row
    .col-md-4
      %h1
        %b
          бот
    .col-md-4
      %button.btn
        %a{href: '/download.csv'}
          статистика
    .col-md-4
      %p
        = current_user.email if current_user
