.container
  %main
    %p.title BOT v.1.1
    %nav.menu{:role => "navigation"}
      - if current_user
        %ul
          %li
            %a{:href => "/"} Биржи
          %li
            %a{href: "#", "ng-click"=>"downloadStat()"}
              Статистика
          %li
            %span
              = current_user.email
%hr
