
.container
  %main
    %p.title BOT v.1.1
    %nav.menu{:role => "navigation"}
      %ul
        %li
          %a{:href => "/"} Биржи
        %li
          %a{:href => "/download.csv"} Статистика
        %li
          %span
            = current_user.email
